<h3>Bebidas Disponíveis</h3>
<%= link_to 'Cadastrar Bebida', new_beverage_path, class: 'btn btn-warning btn-sm' %>
<div>
    <% if @beverages.any? %>
        <%= @beverages.each do |b| %>
            <%= b.name %>
            <%= b.description %>
            <% if b.photo.attached? %>
                <%= image_tag b.photo, class: 'img-fluid' %>
            <% else %>
                <p>Sem foto disponível</p>
            <% end %>
        <% end %>
    <% else %>
        <p>Nenhuma bebida disponível</p>
    <% end %>
</div>
