<div class="card mb-3" style="max-width: 540px;"">
    <div class="row g-0">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <% if @beverage.photo.attached? %>
                <%= image_tag @beverage.photo, width: 150, height: 150, class: 'card-img-top', style: 'padding-left: 10px;' %>
            <% else %>
                <p>Sem foto disponível</p>
            <% end %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title"><%= @beverage.name %></h2>
                <h4 class="card-text"><%= @beverage.description %></h4>
                <% if @beverage.alcoholic? %>
                    <p class="card-text"><small class="text-body-secondary">Bebida Alcoolica! (+18)</small></p>
                <% else %>
                    <p class="card-text"><small class="text-body-secondary">Não Alcoolica</small></p>
                <% end %>
                <small class="text-body-secondary">Status da Bebida: <%= @beverage.status ? 'Ativado' : 'Desativado' %></small>
            </div>
        </div>
    </div>
</div>
<br>

<div>
  <% if @beverage.portions.any? %>
    <h2>Porções</h2>
    <% @beverage.portions.each do |portion| %>
      <p>
        <b><%= portion.description %>:</b> <%= number_to_currency(portion.price) %>
        <%= link_to 'Editar', edit_beverage_portion_path(@beverage, portion), class: 'btn btn-outline-warning btn-sm' %>
        <%= link_to 'Histórico', beverage_portion_path(@beverage, portion), class: 'btn btn-outline-secondary btn-sm' %>
      </p>
    <% end %>
  <% else %>
    <p>Sem porção disponível</p>
  <% end %>
  <%= link_to 'Adicionar Porção', new_beverage_portion_path(@beverage), class: 'btn btn-warning' %>
</div>
<br>

<div class="d-flex justify-content-center">
  <div class="row g-3 align-items-center">
    <div class="col-auto"><%= link_to 'voltar', beverages_path, class: 'btn btn-outline-dark' %></div>
    <div class="col-auto"><%= link_to 'editar', edit_beverage_path, class: 'btn btn-outline-warning' %></div>
    <div class="col-auto">
      <%= form_with url: change_status_beverage_path(@beverage), method: :patch do %>
        <%= hidden_field_tag :status, !@beverage.status %>
        <%= button_tag 'Desativar', type: 'submit', class: 'btn btn-outline-danger' if @beverage.status == true %>
        <%= button_tag 'Ativar', type: 'submit', class: 'btn btn-outline-success' if @beverage.status == false %>
      <% end %>
    </div>
  </div>
</div>
