<h3>Busque por um pedido ativo</h3><br>

<%= form_with url: search_orders_path, method: :get, local: true do %>
  <div class="d-flex justify-content-center">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <%= text_field_tag :order_code, params[:order_code], class: "form-control", placeholder: 'Código do pedido' %>
        </div>
        <div class="col-auto">
            <%= submit_tag "Procurar", class: "btn btn-warning" %>
        </div>
    </div>
  </div>
<% end %><br>

<% if @order.present? %>
    <h4>Resultado da busca:</h4>
    <div class="order-details">
      <p><b>Pedido # <%= @order.order_code %></b></p>
      <p>Cliente: <b><%= @order.customer_name %></b></p>
      <p>Status: <b><%= I18n.t("enums.order.status.#{@order.status}") %></b></p>
      <p>Criado em: <b><%= l(@order.created_at.in_time_zone('Brasilia'), format: :long) %></b></p>
      <% if @order.in_preparation_date %>
        <p>Início do preparo: <b><%= l(@order.in_preparation_date.in_time_zone('Brasilia'), format: :long) %></b></p>
      <% end %>
      <% if @order.ready_date %>
        <p>Concluído em: <b><%= l(@order.ready_date.in_time_zone('Brasilia'), format: :long) %></b></p>
      <% end %>
      <% if @order.status == 'cancelled' %>
        <p>Cancelado em: <b><%= l(@order.updated_at.in_time_zone('Brasilia'), format: :long) %></b></p>
        <p>Motivo: <b><%= @order.cancellation_reason %></b></p>
      <% end %>
    
      <div class="order-item">
        <h5>Contatos do <b><%= @order.establishment.fantasy_name %></b></h5>
        <%= @order.establishment.address %><br>
        <%= @order.establishment.telephone %><br>
        <%= @order.establishment.email %>
      </div>
    </div><br>
<% elsif params[:order_code].present? %>
      <p>Nenhum pedido encontrado com o código informado.</p>
<% end %>

<%= link_to 'voltar', pa_leva_session_path, class: 'btn btn-outline-dark' %>