<h1>Pratos Disponíveis</h1>
<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
  <%= link_to 'Apimentados', dishes_path(spicy: true), class: 'btn btn-warning btn-sm' %>
  <%= link_to 'Vegetarianos', dishes_path(vegetarian: true), class: 'btn btn-warning btn-sm' %>
  <%= link_to 'Veganos', dishes_path(vegan: true), class: 'btn btn-warning btn-sm' %>
</div>
<div class="btn-group btn-group-sm" aria-label="Small button group">
  <%= link_to 'Sem Glúten', dishes_path(gluten_free: true), class: 'btn btn-outline-light btn-sm' %>
  <%= link_to 'Sem Açúcar', dishes_path(sugar_free: true), class: 'btn btn-outline-light btn-sm' %>
</div>
<div>
    <% if @dishes.any? %>
        <br>
        <% @dishes.each do |d| %>
            <div class="list-group">
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <%= link_to d.name, dish_path(d), class: 'list-group-item list-group-item-action' %> <span class="list-group-item"><%= d.status ? 'Ativado' : 'Desativado' %></span>
                </div>
                <br>
            </div>
        <% end %>
    <% else %>
        <p>Nenhum prato disponível</p>
    <% end %>
</div>
<%= link_to 'voltar', establishment_path(current_user_owner), class: 'btn btn-outline-dark' %>
<%= link_to 'Cadastrar Prato', new_dish_path, class: 'btn btn-warning' %>
