<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h1 class="card-title"><%= @dish.name %></h1>
        <h3 class="card-text"><%= @dish.description %></h3>
        <div>
          <% if @dish.vegetarian? %>
            <small class="text-body-secondary">Prato Vegetariano</small><br>
          <% end %>
          <% if @dish.vegan? %>
            <small class="text-body-secondary">Prato Vegano</small><br>
          <% end %>
          <% if @dish.gluten_free? %>
            <small class="text-body-secondary">Prato Sem Glúten</small><br>
          <% end %>
          <% if @dish.sugar_free? %>
            <small class="text-body-secondary">Prato Sem Açúcar</small><br>
          <% end %>
          <% if @dish.spicy? %>
            <small class="text-body-secondary">Prato Apimentado</small><br>
          <% end %>
        </div>
        <br>
        <p class="card-text">
          <small class="text-body-secondary">Prato <%= @dish.status ? 'Ativado' : 'Desativado' %></small>
        </p>
    </div>
    <% if @dish.photo.attached? %>
        <%= image_tag @dish.photo, class: 'card-img-top' %>
    <% else %>
        <p>Sem foto disponível</p>
    <% end %>
</div>
<br>
<div class="text-start">
  <%= link_to 'voltar', dishes_path, class: 'btn btn-outline-dark' %>
  <%= link_to 'editar', edit_dish_path, class: 'btn btn-outline-warning' %>
</div>
<div class="text-end">
  <%= form_with url: change_status_dish_path(@dish), method: :patch do %>
    <%= hidden_field_tag :status, !@dish.status %>
    <%= button_tag 'Desativar', type: 'submit', class: 'btn btn-danger' if @dish.status == true %>
    <%= button_tag 'Ativar', type: 'submit', class: 'btn btn-success' if @dish.status == false %>
  <% end %>
</div>
