<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h1 class="card-title"><%= @dish.name %></h1>
        <h3 class="card-text"><%= @dish.description %></h3>
        <p class="card-text">
          <small class="text-body-secondary">Prato <%= @dish.status ? 'Ativo' : 'Desativado' %></small>
        </p>
    </div>
    <% if @dish.photo.attached? %>
        <%= image_tag @dish.photo, class: 'card-img-top' %>
    <% else %>
        <p>Sem foto disponível</p>
    <% end %>
</div>
<br>

<div>
  <% if @dish.additional_features.any? %>
    <h3>Marcadores</h3>
    <% @dish.additional_features.each do |feature| %>
      <li>Prato <%= feature.name %></li>
    <% end %>
  <% else %>
    <p>Sem marcadores cadastrados</p>
  <% end %><br>
  <%= link_to 'Adicionar Marcador', new_dish_additional_feature_path(@dish), class: 'btn btn-warning btn-sm' %>
</div>
<br>

<div>
  <% if @dish.portions.any? %>
    <h3>Porções</h3>
    <% @dish.portions.each do |portion| %>
      <p>
        <b><%= portion.description %>:</b> <%= number_to_currency(portion.price) %>
        <%= link_to 'Editar', edit_dish_portion_path(@dish, portion), class: 'btn btn-outline-warning btn-sm' %>
        <%= link_to 'Histórico', dish_portion_path(@dish, portion), class: 'btn btn-outline-secondary btn-sm' %>
      </p>
    <% end %>
  <% else %>
    <p>Sem porção disponível</p>
  <% end %>
  <%= link_to 'Adicionar Porção', new_dish_portion_path(@dish), class: 'btn btn-warning btn-sm' %>
</div>
<br>

<div class="d-flex justify-content-center">
  <div class="row g-3 align-items-center">
    <div class="col-auto"><%= link_to 'voltar', dishes_path, class: 'btn btn-outline-dark' %></div>
    <div class="col-auto"><%= link_to 'editar', edit_dish_path, class: 'btn btn-outline-warning' %></div>
    <div class="col-auto">
      <%= form_with url: change_status_dish_path(@dish), method: :patch do %>
        <%= hidden_field_tag :status, !@dish.status %>
        <%= button_tag 'Desativar', type: 'submit', class: 'btn btn-outline-danger' if @dish.status == true %>
        <%= button_tag 'Ativar', type: 'submit', class: 'btn btn-outline-success' if @dish.status == false %>
      <% end %>
    </div>
  </div>
</div>
