<h3>Editar porção</h3>
<%= form_with model: [ @parent, @portion ] do |f| %>
  <div class="text-start">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="text-start">
    <%= f.label :price, class: 'form-label' %>
    <%= f.number_field :price, step: 0.01, class: 'form-control' %>
  </div>
  <br>
  <%= f.submit class: 'btn btn-outline-warning' %>
<% end %>
