<h3><strong><%= @establishment.fantasy_name %></strong></h3>
<h4>Código: <%= @establishment.code %></h4>
<div>
    <%= @establishment.address %> <br>
    <%= @establishment.email %> | <%= @establishment.telephone %>
</div>