<div class="card text-center" style="background:  rgba(255, 255, 255, 0.25);">
    <h1 class="card-header" style="color: darkorange;"><b><%= @establishment.fantasy_name %></b></h1>
    <div class="card-body">
        <h4 class="card-title"><b>Código: <%= @establishment.code %></b></h4><br>
        <h5><%= @establishment.corporate_name %></h5>
        <b>CNPJ:</b> <%= @establishment.cnpj %><br>
        <b>Endereço:</b> <%= @establishment.address %>
    </div>
    <div class="card-body">
        <h4 class="card-title"><b>Dias de Funcionamento</b></h4>
        <%= 'Domingo |' if @establishment.sunday %>
        <%= 'Segunda |' if @establishment.monday %>
        <%= 'Terça |' if @establishment.tuesday %>
        <%= 'Quarta |' if @establishment.wednesday %>
        <%= 'Quinta |' if @establishment.thursday %>
        <%= 'Sexta |' if @establishment.friday %>
        <%= 'Sábado' if @establishment.saturday %>
    </div>
    <div class="card-body">
        <h4 class="card-title"><b>Horário de Funcionamento</b></h4>
        Abre: <%= I18n.l @establishment.opening_time, format: :short %> <b>/</b> Fecha: <%= I18n.l @establishment.closing_time, format: :short %>
    </div>
    <div class="card-footer text-body-secondary">
        <%= @establishment.email %> <b>-</b> <%= @establishment.telephone %>
    </div>
</div>